streamlit>=1.31.0  # Core framework
supabase>=2.3.0  # Changed from supabase-py to supabase # For Together AI API
langchain-community
pypdf>=3.17.1
numpy>=1.26.0
networkx
protobuf==3.20.3  
sentence-transformers
groq>=0.4.2
python-magic>=0.4.27
markdown>=3.5.1
beautifulsoup4>=4.12.2
